<?php
// Diese Datei nach "turnstile-secret.php" kopieren und dort den
// Cloudflare Turnstile Secret Key eintragen.
// turnstile-secret.php NICHT auf GitHub hochladen.
return 'HIER_CLOUDFLARE_TURNSTILE_SECRET_KEY_EINTRAGEN';
